body {
  background-color: $light-gray;
  color: $medium-gray;
}

.delete-me {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  height: 50vh;

  .container {
    text-align: center;

    h1 {
      font-weight: 200;
    }
  }
}

.boxes {
  @include outer-container();
}

.box {
  background: tint(red, 40%);
  @include size(100px);
  margin: 20px;
  float: left;
  @include span-columns(3);
}

p {
  font-family: $georgia;
}