---
title: Welcome to Middleman
---

<div class="delete-me">
  <div class="container">
  <h1>Middleman is Watching</h1>
  <p>
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>

    <form>
      <input type="submit">
    </form>
  </p><!-- .doc -->
  </div>
</div><!-- .welcome -->